body {
    background-color: #111111;
}

.grid-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px; /* Adjust the gap as needed */
    margin: 100px 100px 100px 100px;
  }
  
  .grid-item {
    /* border: 1px solid #ddd; /* Viền để phân biệt các ô */
    padding: 10px;
    text-align: left;
  }

  .grid-item.two-columns {
    grid-column: span 2; /* Chiếm 2 cột */
}

.avatar {
  width: 122px;
}

.title {
    color: white;
    font-size: 80px;
    text-align: left;
    line-height: 100%;
    font-family: Fraunces;
    font-weight: 900;
    margin-top: 57px;
    margin-bottom: 40px;
}

.description {
    color: white;
    opacity: 70%;
    text-align: left;
    font-size: 24px;
    font-family: fraunces;
    font-weight: 400;
}

#contact {
  color: white;
  opacity: 90%;
  font-family: fraunces;
  font-size: 16px;
  font-weight: 400;
  margin-top: 112px;
}