body {
  background-color: #111111;
  padding: 0;
  margin: 0 100px;
  min-width: 375px;
}

/* HOMEPAGE */

.grid-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px; /* Adjust the gap as needed */
  margin: 50px 0 50px 0;
}

.grid-item {
  /* border: 1px solid #ddd; /* Viền để phân biệt các ô */
  padding: 0;
  text-align: left;
}

.grid-item.two-columns {
  grid-column: span 2; /* Chiếm 2 cột */
}

.grid-item.testimonial-item {
  grid-column-start: 4;
  grid-column-end: 5;
  padding-top: 20px;
}

.avatar {
  width: 122px;
}

.title {
  color: white;
  font-size: 80px;
  text-align: left;
  line-height: 100%;
  font-family: Fraunces;
  font-weight: 900;
  margin-top: 57px;
  margin-bottom: 40px;
}

.description {
  color: white;
  opacity: 70%;
  text-align: left;
  font-size: 24px;
  font-family: fraunces;
  font-weight: 400;
}

#contact {
  color: white;
  opacity: 90%;
  font-family: fraunces;
  font-size: 16px;
  font-weight: 400;
  margin-top: 90px;
}

/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  height: auto;
  align-items: center;
  padding-top: 32px;
}

.logo {
  font-family: Fraunces;
  color: white;
  font-size: 32px;
  font-weight: bold;
  opacity: 50%;
  display: inline-block;
}

.menu {
  list-style-type: none;
  padding: 0;
}

.menu li {
  width: auto;
}

.menu li a {
  display: inline-block;
  padding: 12px;
  font-family: fraunces;
  font-size: 24px;
  color: white;
  text-decoration: none;
  opacity: 80%;
}

.menu li a:hover {
  opacity: 100%;
}

.testimonial-item {
  display: flex;
  flex-direction: column;
}

.avatar-testimonial {
  width: 58px;
}

.testimonial-header {
  color: #fff;
  font-family: Fraunces;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 12px 0;
}

.testimonial-quote {
  color: #fff;
  font-family: Fraunces;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 70%;
  margin: 0;
}

.testimonial-last {
  margin-top: 40px;
}

.thumbnail-redesign {
  width: 100%;
}